.container {
  padding: 30px;
}

input, select {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fafafa;
}